@model BootStrap.Models.SupportersCurrentDaySupports

<table>
    <tr>
        <td>
            @Model.FrameName
        </td>
        <td>
            @Model.Supporter
        </td>
        <td>
            @Model.CustomerId
        </td>
        <td>
            @Model.FirstName
        </td>
        <td>
            @Model.LastName
        </td>
    </tr>
</table>